body {
  margin: 0;
  font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

.feds-client-search button {
  padding-left: 0;
  padding-right: 0;
  border: none;
 }
.feds-client-search svg {
  height: 100%;
  width: 20px;
}
